h1 {
	color: white;
	background-color: green;
	text-align:center;
	font-family: bahnschrift;
}

h2
{
	font-family: bahnschrift;
	padding-left: 15px
}

h3
{
	font-family: bahnschrift;
	padding-left: 10px
}

button
{
	margin-left: 10px;
}

h6 {
	color: white;
	background-color: green;
	padding: 10px;
	font-family: bahnschrift;
}

#Gesamt
{
	display: flex;
	flex-direction: row;
	gap: 20px;
}

#chartdiv
{
	margin: 20px;
}


table, th, td, caption {
	border: thin solid #a0a0a0;
}
table {
	border-collapse: collapse;
	border-spacing: 50px;
	border-width: thin 0 0 thin;
	margin: 20px 10px 20px;
	table-layout: auto;
	min-width: 400px;
}
th, td{
	font-family: calibri;
	text-align: center;
}
th, caption {
	background-color: #f1f3f4;
	font-weight: 700;
}